extends ./layout/common

block content
    h1 Hello World!
    a(href="/users") User List

    .row
        .col.pb-2
            .card(style='width: 15rem;')
                img.card-img-top(src='...' alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col.pb-2
            .card(style='width: 15rem;')
                img.card-img-top(src='...' alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col.pb-2
            .card(style='width: 15rem;')
                img.card-img-top(src='...' alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col.pb-2
            .card(style='width: 15rem;')
                img.card-img-top(src='...' alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
